<div class="container about-us">
	<img src="img/link-608.png" alt="Link-608 Logo"/>

  <div class="inset">
    <p>
     Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore. While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
    </p>
    <p>
      Lorem ipsum dolor sit amet, ne eum alterum fabulas disputando, an eam dicat maiorum. In eos soleat equidem eligendi, ius an mollis dissentiet. Ius id equidem forensibus. No novum pertinax theophrastus cum, recteque similique eum no. Lobortis sapientem posidonium eu vim. Pri assum quodsi appareat id, eos an porro eligendi. Vim porro omittantur consectetuer at, illud soluta contentiones per te.
    </p>
    <p>
      Affert accusam no mel. Modus facete epicurei qui in, nonumes offendit qui in. Graecis postulant vel at. Ex facilis menandri pericula eam. Cu soleat atomorum mea, est inimicus praesent complectitur ex.
    </p>
    <p>
      Nostrud dolores vivendum eam ut, graeci scripta an cum. Usu nullam gloriatur in, essent fuisset sea cu, ut nec alii partem aliquam. Sit elit cibo et, quod posidonium vix an, suas recusabo eum ea. Pri dolorem evertitur no. Meis voluptua deterruisset ad eum.
    </p>
  </div>

  <!--<img src="img/zendesk.png" alt="Zendesk, Inc. Company Logo"/>
	<div class="inset">
    <p>
      Zendesk is a cloud-based customer service platform. It is designed to be easy to use, easy to customize, and easy to scale. Frustrated with the state of enterprise customer service software in 2007, three Danish entrepreneurs sought out to create beautifully simple software that could change how any company interacted with its customers. Today more than 30,000 companies use Zendesk to provide service to more than 200 million people worldwide.
    </p><p>
      Zendesk has offices in eight countries, with headquarters in San Francisco. Funding from Charles River Ventures, Benchmark Capital, Goldman Sachs, GGV Capital, Index Ventures, Matrix Partners, and Redpoint Ventures. Learn more at <a href="https://www.zendesk.com">www.zendesk.com</a>.
    </p>
  </div>
  <br/>
  <div class="inset">
    <p>
      Link-SF is free software. Get it here: <a href="http://github.com/zendesk/linksf">http://github.com/zendesk/linksf</a>
    </p>
  </div>
</div>-->

<!--<p class="credits">
  CDN hosting provided graciously by <a href="http://www.fast.ly">fast.ly</a><br/>
  Icons by P.J. Onori, Daniel Bruce, and Dave Gandy, courtesy of <a href="http://fontello.com">fontello.com</a>
</p>-->
